<ion-header>

  <ion-navbar>
    <ion-title>about</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

          <h4>About Page</h4>

          <button ion-button large (click)="goBack()">Go back</button>

          <div #map id="map2" style="height:100%;">
          </div>

</ion-content>
