<ion-header>

  <ion-navbar>
    <ion-title>contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h3>ContactPage</h3>
<h6>Nothing here, go next</h6>
        <button ion-button large (click)="goToAbout()">Go To AboutPage</button>
</ion-content>
