<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div #map id="map" style="height:100%;">
  </div>

  <ion-fab bottom>
      <div class="footerStyle animated slideInUp">
        <button class="bookNow" ion-button large (click)="testButton()">Click here</button>
      </div>
    </ion-fab>

</ion-content>
